@use "styles/variables.scss" as *;

.wrapper{
    margin: 0;
    padding: 0;
    height: 1340px;
    top: 7676px;
    border-radius: 30px;
    background-color: $corSecundaria;
    max-width: 100%;
    width: 1920px;
    display: flex;
    justify-content: center;
   
}
.containerGeral{
    width: 1303px;
    height: 1112px;
    top: 7786px;
    left: 308px;
    padding-top: 110px;
    
}
.containerSobre{
    width: 1214px;
    height: 159px;
    left: 71px;
 //   margin-left: 71.5px; //380-308,5 = 71,5 - medidas figma
    
}
.containerSobre .tituloSobre{
   // width: 206px;
    height: 77px;
    left: 2px;
    font-family: $fontDestaque;
    font-weight: 700;
    font-size: 48px;
    line-height: 76.51px;
    color: $corPrimaria;
    margin-bottom: 16px;
}
.containerSobre .textoSobre{
    width: 1214px;
    height: 75px;
    top: 93px;
    font-family: $fontPrimaria;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: $branco90;
}
.containerMeio{
    display: flex;
    flex-direction: row;
}
.containerMeio .imagemSobreNos{
    width: 656px;
    height: 656px;
    top: 160px;
}
.objetivo{
    display: flex;
    flex-direction: column;
    margin: 46px 0 56px 0;;
}
.missao {
    width: 624px;
    height: 121px;
    top: 214px;
    left: 656px;
    margin-bottom: 56px;
}
.objetivo .missao h1, .visao h1, .valores h1{
    font-family: $fontDestaque;
    font-weight: 700;
    font-size: 26px;
    line-height: 22px;
    color: $corPrimaria;
    margin-bottom: 25px;
}

.objetivo .missao p, .visao p, .valores ul{
    font-family: $fontPrimaria;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
    color: $branco90;
}
.valores{
    margin-top: 56px;
}
.valores ul{
    list-style-type: disc;
    
}
.equipe{
    width: 1232px;
    height: 248px;
    top: 870px;
    left: 71px;
   // margin-left: 71.5px;
}
.equipeTitulo{
    font-family:$fontDestaque;
    font-size: 26px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: $corPrimaria;
    margin-bottom: 25px;
}
.equipeTexto{
    font-family: $fontPrimaria;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    //text-align: left;
    color: $branco90;
    
}
//confirmar tamanhos com designers
.equipeContato{
    font-family: $fontPrimaria;
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
 //   text-align: left;
    color: $branco90;
}
.equipeContato a{
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
    color: $branco90;
  //  text-align: left;
}

.btEquipe{
    width: 330px;
    height: 50px;
    top: 1006px;
    left: 71px;
    padding: 10px;
    gap: 10px;
    border-radius: 30px;
    border: none;
    background-color: $corPrimaria;
    margin:40px 0 40px 0;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.1s ease;

    &:hover {
        background-color: $corTerciaria;
        transform: scale(1.05);
    }  
}

.labelEquipe{
    width: 114px;
    height: 32px;
    font-family: $fontDestaque;
    font-weight: 700;
    font-size: 20px;
    line-height: 31.88px;
    color:$branco100;

}
