@use "styles/variables" as *;

.container {
    text-decoration: none;
    background-color: $corPrimaria;
    color: white;
    padding: 1rem;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
    border: none;
}