@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kalam:wght@300;400;700&display=swap');

$corPrimaria: #21C9D3;
$corSecundaria: #AA4F89;
$corTerciaria: #267B80;
$corTexto: #333333;
$branco100: #FFFFFF;
$branco90: #F5F5F5;
$preto100: #000000;
$preto90: #0D0D0D;
$tracado: #F0F0F0;
$background: #F9F9F9;

$fontPrimaria: "Inter", sans-serif;
$fontDestaque: "Kalam", cursive;