@use "styles/variables" as *;

.container{
  background-color: $corPrimaria;
  width: 100%;
  height: 115px;
  border-radius: 0 0 40px 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .containerTitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &__img{
      width: 157px;
      height: 133.74px;
      margin-top: 21.35px;
      left: 24.77px;

    }

  }

  .containerLinks{

    &__lista{
      display: flex;
      gap: 72px;
      &__item{
        font-family: $fontDestaque;
        color: $branco100;
        font-weight: 700;
        line-height: 31.88px;
        text-decoration: none;
        font-size: 20px;
      }
    }
  }
}