@use "styles/variables" as *;

.container {
  background-color: $corPrimaria;
  width: 100%;
  height: 337px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  &__contato {
    color: $branco100;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    font-weight: 400;

    a {
      font-weight: 700;
      text-decoration: none;
      color: $branco90;
        }
  }

  

  &__contSec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;

      &__txt{
        color: $branco100;
        font-size: 20px;
        font-weight: 400;
      }

      &__btn{
        background-color: $corSecundaria;
        border: none;
        width: 336px;
        height: 48px;
        border-radius: 30px;
        padding: 10px;
        cursor: pointer;
        transition: transform 0.1s ease, background-color 0.1s ease;
      }
      &__btn:hover{
        background-color: $corTerciaria;
        transform: scale(1.05);
      }
      &__label{
        font-family: $fontDestaque;
        color: $branco100;
        font-weight: 700;
        font-size: 20px;
      }
  }

}